<!DOCTYPE html>
<html>
  <head>
    <!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>RailsWatchList1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <section class="glass">
        <div class="dashboard">
          <div class="user">
            <%= yield %>
          </div>
        </div>


       </section>
        <div class="circle1"></div>

        <div class="circle2"></div>
    </main>
  </body>
</html>
